*{
    text-decoration: none;
    font-family: "Harmattan", sans-serif;
    font-weight: 400;
    font-style: normal;  
    transition: all 0.2s ease;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    text-align: center;
    background-color: white;
}

nav.navBar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
}

nav.navBar div.justPapersContainer{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: auto;
}

nav.navBar a div.justPapersContainer img{
    user-select: none;
    max-width: 100%;
    max-height: 100%;
    width: 500px;
}

nav.navBar a div.justPapersContainer img:hover{
    transform: scale(105%);
}

nav.navBar a div.justPapersContainer img:active{
    transform: scale(100%);
}

section div.aboutSection{
    background-color: #DFD0B8;
    height: auto;
    margin-bottom: 50px;
    position: relative;
    overflow: visible;
}

section div.aboutSection div.aboutSectionDetails{
    padding: 20px;
}

section div.aboutSection div.aboutSectionDetails p.aboutSectionTitle{
    font-size: 26px;
    color: #153448;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
}

section div.aboutSection div.aboutSectionDetails hr{
    height: 1.5px;
    background-color: #153448;
    border: none;
    margin: 0;
}

section div.aboutSection div.aboutSectionDetails p.aboutSectionBody{
    font-size: 20px;
    color: #153448;
    font-weight: 500;
    margin-bottom: 0px;
}

section div.accessMethodSection{
    width: 100%;
    height: auto;
    position: relative;
}

section div.accessMethodSection div.accessMethodSectionDetails{
    padding: 0px 20px;
}

section div.accessMethodSection div.accessMethodSectionDetails p.accessMethodSectionTitle{
    font-size: 24px;
    color: #14213D;
    font-weight: 600;
}

section div.accessMethodSection div.accessMethodSectionDetails p.accessMethodSectionBody{
    font-size: 18px;
    color: black;
    font-weight: 500;
}

section div.sectionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}
 
section div.sectionContainer input#searchbar{
    padding: 8px;
    border-radius: 5px;
    width: 50%;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    background-color: #f5f5f5;
}

section div.sectionContainer input#searchbar:focus{
    border: 3px solid #948979;
    background-color: white;
    padding: 8px;
    font-size: 16px;
}

section div.sectionContainer button.clearButton{
    font-size: 16px;
    cursor: pointer;
    color: #153448;
    font-weight: 600;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 50px;
}

section div.sectionContainer button.clearButton:hover{
    padding: 6px 12px;
    border: 2px solid #153448;

}

section div.sectionContainer button.clearButton:active{
    color: #DFD0B8;
    background-color: #153448;
    border: none;
}

section div.sectionContainer button.clearButton i{
    padding-bottom: 0px;
}
 
section div.sectionContainer ul#list{
    list-style: none;
    padding: 0;
    margin: 0;
}
 
section div.sectionContainer ul#list li.sections{
    font-size: 1.2em;
    padding: 0px;
    animation: fadeIn 0.5s ease-in-out;
}
 
section div.sectionContainer ul#list li.sections:last-child{
    border-bottom: none;
}


section div.sectionContainer ul#list 
li.sections div.mathSection,
li.sections div.sciencesSection,
li.sections div.languageSection,
li.sections div.islamicSection,
li.sections div.hisAndGeoSection,
li.sections div.individualSkillsSection,
li.sections div.otherAccessoriesSection{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    background-color: #3C5B6F;
    position: relative;
}

section div.sectionContainer ul#list
li.sections div.mathSection div.mathSectionDetails,
li.sections div.sciencesSection div.sciencesSectionDetails,
li.sections div.languageSection div.languageSectionDetails,
li.sections div.islamicSection div.islamicSectionDetails,
li.sections div.hisAndGeoSection div.hisAndGeoSectionDetails,
li.sections div.individualSkillsSection div.individualSkillsSectionDetails,
li.sections div.otherAccessoriesSection div.otherAccessoriesSectionDetails{
    padding: 20px;

}

section div.sectionContainer ul#list
li.sections div.mathSection div.mathSectionDetails p.mathSectionTitle,
li.sections div.sciencesSection div.sciencesSectionDetails p.sciencesSectionTitle,
li.sections div.languageSection div.languageSectionDetails p.languageSectionTitle,
li.sections div.islamicSection div.islamicSectionDetails p.islamicSectionTitle,
li.sections div.hisAndGeoSection div.hisAndGeoSectionDetails p.hisAndGeoSectionTitle,
li.sections div.individualSkillsSection div.individualSkillsSectionDetails p.individualSkillsSectionTitle,
li.sections div.otherAccessoriesSection div.otherAccessoriesSectionDetails p.otherAccessoriesSectionTitle{
    font-size: 26px;
    color: black;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
    direction: rtl;
}

section div.sectionContainer ul#list
li.sections div.mathSection div.mathSectionDetails ul.mathSectionList,
li.sections div.sciencesSection div.sciencesSectionDetails ul.sciencesSectionList,
li.sections div.languageSection div.languageSectionDetails ul.languageSectionList,
li.sections div.islamicSection div.islamicSectionDetails ul.islamicSectionList,
li.sections div.hisAndGeoSection div.hisAndGeoSectionDetails ul.hisAndGeoSectionList,
li.sections div.individualSkillsSection div.individualSkillsSectionDetails ul.individualSkillsSectionList,
li.sections div.otherAccessoriesSection div.otherAccessoriesSectionDetails ul.otherAccessoriesSectionList{
    list-style: none;
    padding: 0px;
    direction: rtl;
    
    li{
		margin-left: .75em;
		margin-right: .75em;
        margin-bottom: 15px;
        font-size: 18px;
	}
	
	&:hover{
		a{
			color: #153448;
			&:hover{
				color: #DFD0B8;
                font-size: 19px;
				box-shadow: 0 2px 0 0 currentcolor;
			}
		}
	}
}

section div.sectionContainer ul#list
li.sections div.mathSection div.mathSectionDetails ul.mathSectionList li a,
li.sections div.sciencesSection div.sciencesSectionDetails ul.sciencesSectionList li a,
li.sections div.languageSection div.languageSectionDetails ul.languageSectionList li a,
li.sections div.islamicSection div.islamicSectionDetails ul.islamicSectionList li a,
li.sections div.hisAndGeoSection div.hisAndGeoSectionDetails ul.hisAndGeoSectionList li a,
li.sections div.individualSkillsSection div.individualSkillsSectionDetails ul.individualSkillsSectionList li a,
li.sections div.otherAccessoriesSection div.otherAccessoriesSectionDetails ul.otherAccessoriesSectionList li a{
    color: #948979;
}

section div.sectionContainer ul#list
li.sections div.mathSection div.mathSectionDetails ul.mathSectionList i,
li.sections div.sciencesSection div.sciencesSectionDetails ul.sciencesSectionList i,
li.sections div.languageSection div.languageSectionDetails ul.languageSectionList i,
li.sections div.islamicSection div.islamicSectionDetails ul.islamicSectionList i,
li.sections div.hisAndGeoSection div.hisAndGeoSectionDetails ul.hisAndGeoSectionList i,
li.sections div.individualSkillsSection div.individualSkillsSectionDetails ul.individualSkillsSectionList i,
li.sections div.otherAccessoriesSection div.otherAccessoriesSectionDetails ul.otherAccessoriesSectionList i{
    color: #DFD0B8;
    cursor: default;
}


@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
 
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

section div.organizations{
    margin-top: 20px;
    margin-bottom: 20px;
}

section div.organizations div.omanFlagContainer{
    position: fixed;
    z-index: 1;
    bottom: 10px;
    left: 10px;
}

section div.organizations a div.omanFlagContainer img{
    user-select: none;
    max-width: 100%;
    max-height: 100%;
    width: 45px;
    border-radius: 3px;
}

section div.organizations a div.omanFlagContainer img:hover{
    cursor: default;
}

section div.organizations div.omanEducationalPortalContainer{
    display: inline-block;
    width: auto;
}

section div.organizations a div.omanEducationalPortalContainer img{
    filter: grayscale(100%);
    user-select: none;
    max-width: 100%;
    max-height: 100%;
    width: 150px;
}

section div.organizations a div.omanEducationalPortalContainer img:hover{
    filter: grayscale(0);
}

section div.organizations div.omanMinistryOfEducationContainer{
    display: inline-block;
    width: auto;
}

section div.organizations a div.omanMinistryOfEducationContainer img{
    filter: grayscale(100%);
    user-select: none;
    max-width: 100%;
    max-height: 100%;
    width: 120px;
}

section div.organizations a div.omanMinistryOfEducationContainer img:hover{
    filter: grayscale(0);
}

footer div.supporting p.supporterBody{
    font-size: 22px;
    color: black;
    font-weight: 500;
    margin-bottom: 20px;
    clear: both;
}

footer div.supporting p.supporterBody a{
    font-weight: 600;
}

footer div.supporting p.supporterBody a:hover{
    text-decoration: underline;
}

footer div.supporting a div.mindSyncContainer{
    display: inline-block;
    width: auto;
}

footer div.supporting a div.mindSyncContainer img{
    filter: grayscale(100%);
    user-select: none;
    max-width: 100%;
    max-height: 100%;
    width: 180px;
}

footer div.supporting a div.mindSyncContainer img:hover{
    filter: grayscale(0);
}


@media screen and (max-width: 800px){

    nav.navBar a div.justPapersContainer img{
        width: 400px;
    }
}

@media screen and (max-width: 600px){

    nav.navBar{
        padding-left: 5px;
        padding-right: 5px;
    }

    nav.navBar a div.justPapersContainer img{
        width: 250px;
    }

    section div.sectionContainer input#searchbar{
        width: 80%;
    }

    section div.organizations a div.omanEducationalPortalContainer img{
        width: 120px;
    }

    section div.organizations a div.omanMinistryOfEducationContainer img{
        width: 100px;
    }

    footer div.supporting p.supporterBody{
        font-size: 18px;
    }

    footer div.supporting a div.mindSyncContainer img{
        width: 150px;
    }
}