main{
    width: 100%;
}

section{
    width: 100%;
}

section div.headerIcon div.headerIconDetails{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: auto;
    direction: ltr;
}

section div.omanFlagContainer{
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 10px;
}

section a div.omanFlagContainer img{
    user-select: none;
    max-width: 100%;
    max-height: 100%;
    width: 45px;
    border-radius: 3px;
}

section a div.omanFlagContainer img:hover{
    transform: scale(105%);
}

section a div.omanFlagContainer img:active{
    transform: scale(95%);
}

/* section div.omanEducationalPortalContainer{
    display: inline-block;
    float: left;
    margin-left: 20px;
    width: auto;
    margin-bottom: 20px;
}

section a div.omanEducationalPortalContainer img{
    user-select: none;
    max-width: 100%;
    max-height: 100%;
    width: 120px;
}

section a div.omanEducationalPortalContainer img:hover{
    transform: scale(105%);
}

section a div.omanEducationalPortalContainer img:active{
    transform: scale(95%);
}

section div.omanOmanunaContainer{
    display: inline-block;
    float: left;
    margin-left: 20px;
    width: auto;
    margin-bottom: 20px;
}

section a div.omanOmanunaContainer img{
    user-select: none;
    max-width: 100%;
    max-height: 100%;
    width: 100px;
    
}

section a div.omanOmanunaContainer img:hover{
    transform: scale(105%);
}

section a div.omanOmanunaContainer img:active{
    transform: scale(95%);
}

section div.cityOfTechnicalExpertsContainer{
    display: inline-block;
    float: left;
    margin-left: 20px;
    width: auto;
    margin-bottom: 20px;
}

section a div.cityOfTechnicalExpertsContainer img{
    user-select: none;
    max-width: 100%;
    max-height: 100%;
    width: 200px;
}

section a div.cityOfTechnicalExpertsContainer img:hover{
    transform: scale(105%);
}

section a div.cityOfTechnicalExpertsContainer img:active{
    transform: scale(95%);
}

section div.omanMinistryOfEducationContainer{
    display: inline-block;
    float: left;
    margin-left: 20px;
    width: auto;
    margin-bottom: 20px;
}

section a div.omanMinistryOfEducationContainer img{
    user-select: none;
    max-width: 100%;
    max-height: 100%;
    width: 100px;
}

section a div.omanMinistryOfEducationContainer img:hover{
    transform: scale(105%);
}

section a div.omanMinistryOfEducationContainer img:active{
    transform: scale(95%);
} */


section div.welcomeSection{
    background-color: #f5f5f5;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    position: relative;
    overflow: visible;
}

section div.welcomeSection div.welcomeDetails{
    padding: 30px 30px 40px;
}

section div.welcomeSection div.welcomeDetails p.welcomeTitle{
    font-size: 26px;
    color: black;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
}

section div.welcomeSection div.welcomeDetails hr{
    height: 1.5px;
    background-color: #FCA311;
    border: none;
    margin: 0;
}

section div.welcomeSection div.welcomeDetails p.welcomeBody{
    font-size: 20px;
    color: #14213D;
    font-weight: 500;
    margin-bottom: 30px;
}

section div.welcomeSection div.welcomeDetails a.followUp{
    font-size: 18px;
    color: #14213D;
    font-weight: 600;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 5px;
    border: 3px solid #14213D;
}

section div.welcomeSection div.welcomeDetails a.followUp:hover{
    color: #FCA311;
    background-color: #14213D;
    border: none;
}

section div.benefitSection{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    position: relative;
}

section div.benefitSection div.benefitSectionDetails{
    padding: 0px 20px;
}

section div.benefitSection div.benefitSectionDetails p.benefitSectionBody{
    font-size: 18px;
    color: black;
    font-weight: 500;
}

section div.benefitSection div.benefitSectionDetails p.benefitSectionBody span{
    padding: 2px;
    display: inline-block;
    margin-top: 8px;
    font-weight: 600;
    border-radius: 5px;
}

section div.benefitSection div.benefitSectionDetails p.benefitSectionBody span span{
    background-color: #FCA311;
}

section div.blank{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #14213D;
    width: 100%;
    height: 100px;
    position: relative;
    margin: 0;
}

section div.blank p{
    direction: ltr;
    font-size: 30px;
    letter-spacing: 20px;
}

section div.blank p span.lastWord{
    color: #14213D;
    background-color: #FCA311;
    padding: 2px 10px;
    border-radius: 5px;
    font-weight: 600;
}

section div.blank p span.lastWord span.lastLetter{
    letter-spacing: 0px;
}

section div.blank p span.firstWord{
    direction: ltr;
    color: #FCA311;
}

section div.selfDevelopmentSection, section div.academicEducationSection, section div.servicesToolsSection{
    display: inline-block;
    width: 100%;
    height: auto;
    align-items: center;
    border-radius: 0px;
    background-color: #f5f5f5;
    position: relative;
    overflow: visible;
}

section div.selfDevelopmentSection div.subSectionDetails, section div.academicEducationSection div.subSectionDetails, section div.servicesToolsSection div.subSectionDetails{
    gap: 0.5em;
    display: grid; 
    place-content: center;
}

section div.selfDevelopmentSection div.subSectionDetails p.subSectionTitle a, section div.academicEducationSection div.subSectionDetails p.subSectionTitle a, section div.servicesToolsSection div.subSectionDetails p.subSectionTitle a{
    font-size: 1.4em;
    font-weight: bold;
    color: black;
}

section div.selfDevelopmentSection:hover, section div.academicEducationSection:hover, section div.servicesToolsSection:hover{
    border-color: #FCA311;
}

section div.selfDevelopmentSection:hover div.subSectionDetails p.subSectionTitle a, section div.academicEducationSection:hover div.subSectionDetails p.subSectionTitle a, section div.servicesToolsSection:hover div.subSectionDetails p.subSectionTitle a{
    color: #14213D;
}

section div.selfDevelopmentSection div.subSectionDetails p.subSectionTitle a:hover, section div.academicEducationSection div.subSectionDetails p.subSectionTitle a:hover, section div.servicesToolsSection div.subSectionDetails p.subSectionTitle a:hover{
    color: #FCA311;
}

section div.selfDevelopmentSection div.subSectionDetails p.subSectionTitle:hover, section div.academicEducationSection div.subSectionDetails p.subSectionTitle:hover, section div.servicesToolsSection div.subSectionDetails p.subSectionTitle:hover{
    transform: scale(1.04);
}

section div.purposeSection{
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

section div.purposeSection div.purposeSectionDetails{
    padding: 0px 20px;
}

section div.purposeSection div.purposeSectionDetails p.purposeSectionBody{
    font-size: 18px;
    color: black;
    font-weight: 500;
}

section div.moreSection{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FCA311;
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
}

section div.moreSection div.moreSectionDetails{
    padding: 30px 30px 40px;
}

section div.moreSection div.moreSectionDetails p.moreSectionTitle{
    font-size: 26px;
    color: black;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
}

section div.moreSection div.moreSectionDetails hr{
    height: 1.5px;
    background-color: #14213D;
    border: none;
    margin: 0;
}

section div.moreSection div.moreSectionDetails p.moreSectionBody{
    font-size: 20px;
    color: #14213D;
    font-weight: 500;
    margin-bottom: 30px;
}

section div.moreSection div.moreSectionDetails a.aboutSiteLink{
    font-size: 18px;
    color: #14213D;
    font-weight: 600;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 5px;
    border: 3px solid #14213D;
}

section div.moreSection div.moreSectionDetails a.aboutSiteLink:hover{
    color: #FCA311;
    background-color: #14213D;
    border: none;
}

section div.moreSection div.moreSectionDetails a.aboutSiteLink:active span{
    margin-right: 5px;
}

section div.opinionSection{
    direction: rtl;
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

section div.opinionSection div.opinionSectionDetails{
    padding: 0px 20px;
}

section div.opinionSection div.opinionSectionDetails p.opinionSectionQuote{
    font-size: 22px;
    color: #14213D;
    font-weight: 500;
    margin-bottom: 10px;
}

section div.opinionSection div.opinionSectionDetails p.opinionSectionQuote span.quoteSymbol{
    font-size: 22px;
    color: #FCA311;
    font-weight: 600;
}

section div.opinionSection div.opinionSectionDetails p.opinionSectionAuthor{
    font-size: 18px;
    color: #868686;
    font-style: italic;
    font-weight: 500;
    margin-top: 10px;
}


@media screen and (max-width: 600px){

    section div.welcomeSection p.welcomeTitle{
        font-size: 1.2em;
    }

    section div.welcomeSection p.welcomeBody{
        font-size: 1.1em;
    }
    
    section div.selfDevelopmentSection:hover div.subSectionDetails p.subSectionTitle, section div.academicEducationSection:hover div.subSectionDetails p.subSectionTitle, section div.servicesToolsSection:hover div.subSectionDetails p.subSectionTitle{
        margin-bottom: 0;
    }
}