main{
    width: 100%;
}

section{
    width: 100%;
}

section div.introSection{
    background-color: #f5f5f5;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    position: relative;
    overflow: visible;
}

section div.introSection div.introSectionDetails{
    padding: 20px;
}

section div.introSection div.introSectionDetails p.introSectionTitle{
    font-size: 26px;
    color: black;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
}

section div.introSection div.introSectionDetails hr{
    height: 1.5px;
    background-color: #FCA311;
    border: none;
    margin: 0;
}

section div.sectionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}
 
section div.sectionContainer input#searchbar{
    padding: 8px;
    border-radius: 5px;
    width: 50%;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    background-color: #f5f5f5;
}

section div.sectionContainer input#searchbar:focus{
    border: 3px solid #FCA311;
    background-color: white;
    padding: 8px;
    font-size: 16px;
}

section div.sectionContainer button.clearButton{
    font-size: 16px;
    cursor: pointer;
    color: #14213D;
    font-weight: 600;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 50px;
}

section div.sectionContainer button.clearButton:hover{
    padding: 6px 12px;
    border: 2px solid #14213D;

}

section div.sectionContainer button.clearButton:active{
    color: #FCA311;
    background-color: #14213D;
    border: none;
}

section div.sectionContainer button.clearButton i{
    padding-bottom: 0px;
}
 
section div.sectionContainer ul#list{
    list-style: none;
    padding: 0;
    margin: 0;
}
 
section div.sectionContainer ul#list li.sections{
    font-size: 1.2em;
    padding: 0px;
    animation: fadeIn 0.5s ease-in-out;
}
 
section div.sectionContainer ul#list li.sections:last-child{
    border-bottom: none;
}

section div.sectionContainer ul#list li.sections div.picturesAndVideosSection div.picturesAndVideosSectionDetails ul.picturesAndVideosSectionList hr{
    height: 1.5px;
    background-color: #FCA311;
    border: none;
    margin: 0;
}

section div.sectionContainer ul#list 
li.sections div.aiChatSection,
li.sections div.picturesAndVideosSection,
li.sections div.textEditingSection{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    background-color: #f5f5f5;
    position: relative;
}

section div.sectionContainer ul#list
li.sections div.aiChatSection div.aiChatSectionDetails,
li.sections div.picturesAndVideosSection div.picturesAndVideosSectionDetails,
li.sections div.textEditingSection div.textEditingSectionDetails{
    padding: 20px;

}

section div.sectionContainer ul#list
li.sections div.aiChatSection div.aiChatSectionDetails p.aiChatSectionTitle,
li.sections div.picturesAndVideosSection div.picturesAndVideosSectionDetails p.picturesAndVideosSectionTitle,
li.sections div.textEditingSection div.textEditingSectionDetails p.textEditingSectionTitle{
    font-size: 26px;
    color: black;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
    direction: rtl;
}

section div.sectionContainer ul#list
li.sections div.aiChatSection div.aiChatSectionDetails ul.aiChatSectionTypes,
li.sections div.picturesAndVideosSection div.picturesAndVideosSectionDetails ul.picturesAndVideosSectionList,
li.sections div.textEditingSection div.textEditingSectionDetails ul.textEditingSectionList{
    list-style: none;
    padding: 0px;
    direction: ltr;
    
    li{
		margin-left: .75em;
		margin-right: .75em;
        margin-bottom: 15px;
        font-size: 18px;
	}
	
	&:hover{
		a{
			color: #CCC;
			&:hover{
				color: #14213D;
                font-size: 19px;
				box-shadow: 0 2px 0 0 currentcolor;
			}
		}
	}
}

section div.sectionContainer ul#list
li.sections div.aiChatSection div.aiChatSectionDetails ul.aiChatSectionTypes li a,
li.sections div.picturesAndVideosSection div.picturesAndVideosSectionDetails ul.picturesAndVideosSectionList li a,
li.sections div.textEditingSection div.textEditingSectionDetails ul.textEditingSectionList li a{
    color: #FCA311;
}

section div.sectionContainer ul#list
li.sections div.aiChatSection div.aiChatSectionDetails ul.aiChatSectionTypes i,
li.sections div.picturesAndVideosSection div.picturesAndVideosSectionDetails ul.picturesAndVideosSectionList i,
li.sections div.textEditingSection div.textEditingSectionDetails ul.textEditingSectionList i{
    color: #14213D;
    cursor: default;
}


@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
 
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


@media screen and (max-width: 600px){

    section div.introSection p.introSectionTitle{
        font-size: 2.1em;
    }

    section div.introSection p.introSectionAbout{
        margin-top: 10px;
        font-size: 1em;
    }

    section div.sectionContainer input#searchbar{
        width: 80%;
    }
}