main{
    width: 100%;
}

section{
    width: 100%;
}

section div.introSection{
    background-color: #f5f5f5;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    position: relative;
    overflow: visible;
}

section div.introSection div.introSectionDetails{
    padding: 20px;
}

section div.introSection div.introSectionDetails p.introSectionTitle{
    font-size: 26px;
    color: black;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
}

section div.introSection div.introSectionDetails hr{
    height: 1.5px;
    background-color: #FCA311;
    border: none;
    margin: 0;
}

section div.introSection ul.introSectionTypeList li a.saTypes:hover{
    color: #FCA311;
}

section div.goalSection{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    position: relative;
}

section div.goalSection div.goalSectionDetails{
    padding: 0px 20px;
}

section div.goalSection div.goalSectionDetails p.goalSectionTitle{
    font-size: 24px;
    color: #14213D;
    font-weight: 600;
}

section div.goalSection div.goalSectionDetails p.goalSectionBody{
    font-size: 18px;
    color: black;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
 
#searchbar{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    box-sizing: border-box;
}
 
#list{
    list-style: none;
    padding: 0;
    margin: 0;
}
 
.sections{
    font-size: 1.2em;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    animation: fadeIn 0.5s ease-in-out;
}
 
.sections:last-child{
    border-bottom: none;
}
 
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
 
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

section div.subPage{
    display: block;
    width: 240px;
    height: auto;
    align-items: center;
    border-radius: 10px;
    background-color: #f5f5f5;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 0% 3%;
    margin-bottom: 40px;
    margin: auto;
    border: 2px solid #c3c6ce;
    overflow: visible;
}

section div.subPage div.subPageDetails{
    gap: 0.5em;
    display: grid; 
    place-content: center;
}

section div.subPage div.subPageDetails p.subPageTitle a{
    font-size: 1.4em;
    font-weight: bold;
    color: black;
}

section div.subPage:hover{
    transform: scale(1.02);
    border-color: #FCA311;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.22);
}

section div.subPage:hover div.subPageDetails p.subPageTitle a{
    color: #14213D;
}

section div.subPage div.subPageDetails p.subPageTitle a:hover{
    color: #FCA311;
}

section div.subPage div.subPageDetails p.subPageTitle:hover{
    transform: scale(1.04);
}

section div.subTypes{
    margin: 0 auto;
    display: block;
    width: 50%;
    height: auto;
    border-radius: 10px;
    background-color: #f5f5f5;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 5%;
    border: 2px solid #c3c6ce;
    transition: all 0.3s ease 0s;
}

section div.subTypes:hover{
    transform: scale(1.02);
    border-color: #FCA311;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.22);
}

section div.subTypes:hover div.subTypesDetails p.subTypesTitle{
    color: #14213D;
}

section div.subTypes div.subTypesDetails p.subTypesTitle{
    font-weight: 600;
    font-size: 1.5em;
    color: black;
}

section div.subTypes div.subTypesDetails p.midContentTitle{
    font-weight: 600;
    font-size: 1.25em;
    color: black;
    margin-bottom: 10px;
}

section div.subTypes div.subTypesDetails ul.midContentBody{
    margin-top: 0;
    padding: 0;
}

section div.subTypes div.subTypesDetails ul.midContentBody li{
    display: block;
    margin: 10px 0;
}

section div.subTypes div.subTypesDetails ul.midContentBody li a{
    font-size: 1.2em;
}

section div.subTypes div.subTypesDetails ul.midContentBody li:hover{
    transform: scale(1.03);
}

@media screen and (max-width: 800px){
    section div.introSection ul.introSectionTypeList{
        display: none;
    }

    section div.downList div.downListContent input#myInput{
        box-sizing: border-box;
        background-position: 14px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 8px;
        border: none;
        border-bottom: 1px solid #ddd;
    }

    section div.downList{
        display: block;
    }
}

@media screen and (max-width: 600px){

    section div.introSection p.introSectionTitle{
        font-size: 2.1em;
    }

    section div.introSection p.introSectionAbout{
        margin-top: 10px;
        font-size: 1em;
    }

    section div.subTypes{
        width: 90%;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        margin-bottom: 15%;
    }

    section div.subTypes div.subTypesDetails p.subTypesTitle{
        font-size: 1.4em;
    }

    section div.subTypes div.subTypesDetails ul.midContentBody li a{
        font-size: 1.1em;
    }

    section div.subTypes div.subTypesDetails p.subTypesBody{
        font-size: 1.25em;
    }
}