section{
    text-align: center;
    margin: auto;
    justify-content: center;
    margin-bottom: 1px;
}

section div.introCard{
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0 5px;
    position: relative;
    margin-bottom: 40px;
}

section div.introCard p.introTitle{
    color: black;
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
}

section div.introCard p.introAbout{
    color: #868686;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 30px;
}

section div.introCard ul.typeList{
    padding: 0;
    margin-bottom: 10px;
}

section div.introCard ul.typeList li{
    display: inline-block;
}

section div.introCard ul.typeList li a.saTypes{
    color: #14213D;
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 20px;
    transition: all 0.3s ease 0s;
}

section div.introCard ul.typeList li a.saTypes:hover{
    color: #FCA311;
}

section div.downList button.downListbtn{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}

section div.downList button.downListbtn i{
    vertical-align: middle;
    margin-left: 1px;
}
   
section div.downList button.downListbtn:hover, section div.downList button.downListbtn:focus{
    background-color: #FCA311;
    color: #14213D;
}
   
section div.downList div.downListContent input#myInput{
    box-sizing: border-box;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #c3c6ce;
}
   
section div.downList div.downListContent input#myInput:focus{
    outline: 3px solid #c3c6ce;
}
   
section div.downList{
    position: relative;
    display: none;
}
   
section div.downList div.downListContent{
    display: none;
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    z-index: 99;
    overflow: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
   
section div.downList div.downListContent a{
    color: #14213D;
    font-weight: 500;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
   
section div.downList div.downListContent a:hover{
    background-color: #c3c6ce;
}

section div.downList:hover div.downListContent{
    display: block;
}

section div.subPage{
    display: block;
    width: 240px;
    height: auto;
    align-items: center;
    border-radius: 10px;
    background-color: #f5f5f5;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 0% 3%;
    margin-bottom: 40px;
    margin: auto;
    border: 2px solid #c3c6ce;
    overflow: visible;
}

section div.subPage div.subPageDetails{
    gap: 0.5em;
    display: grid; 
    place-content: center;
}

section div.subPage div.subPageDetails p.subPageTitle a{
    font-size: 1.4em;
    font-weight: bold;
    color: black;
}

section div.subPage:hover{
    transform: scale(1.02);
    border-color: #FCA311;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.22);
}

section div.subPage:hover div.subPageDetails p.subPageTitle a{
    color: #14213D;
}

section div.subPage div.subPageDetails p.subPageTitle a:hover{
    color: #FCA311;
}

section div.subPage div.subPageDetails p.subPageTitle:hover{
    transform: scale(1.04);
}

section div.subTypes{
    margin: 0 auto;
    display: block;
    width: 50%;
    height: auto;
    border-radius: 10px;
    background-color: #f5f5f5;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 5%;
    border: 2px solid #c3c6ce;
    transition: all 0.3s ease 0s;
}

section div.subTypes:hover{
    transform: scale(1.02);
    border-color: #FCA311;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.22);
}

section div.subTypes:hover div.subTypesDetails p.subTypesTitle{
    color: #14213D;
}

section div.subTypes div.subTypesDetails p.subTypesTitle{
    font-weight: 600;
    font-size: 1.5em;
    color: black;
}

section div.subTypes div.subTypesDetails p.midContentTitle{
    font-weight: 600;
    font-size: 1.25em;
    color: black;
    margin-bottom: 10px;
}

section div.subTypes div.subTypesDetails ul.midContentBody{
    margin-top: 0;
    padding: 0;
}

section div.subTypes div.subTypesDetails ul.midContentBody li{
    display: block;
    margin: 10px 0;
}

section div.subTypes div.subTypesDetails ul.midContentBody li a{
    font-size: 1.2em;
}

section div.subTypes div.subTypesDetails ul.midContentBody li:hover{
    transform: scale(1.03);
}

@keyframes typList1{
    0%{color: #c3c6ce;}
    30%{color: #14213D;}
    100%{color: #c3c6ce;}
}

@keyframes typList2{
    0%{color: #c3c6ce;}
    60%{color: #14213D;}
    100%{color: #c3c6ce;}
}

@keyframes typList3{
    0%{color: #c3c6ce;}
    90%{color: #14213D;}
    100%{color: #c3c6ce;}
}

@keyframes typList4{
    0%{color: #c3c6ce;}
    30%{color: #14213D;}
    100%{color: #c3c6ce;}
}

@keyframes typList5{
    0%{color: #c3c6ce;}
    60%{color: #14213D;}
    100%{color: #c3c6ce;}
}

@keyframes typList6{
    0%{color: #c3c6ce;}
    90%{color: #14213D;}
    100%{color: #c3c6ce;}
}

@keyframes typList7{
    0%{color: #c3c6ce;}
    30%{color: #14213D;}
    100%{color: #c3c6ce;}
}

@keyframes typList8{
    0%{color: #c3c6ce;}
    60%{color: #14213D;}
    100%{color: #c3c6ce;}
}

@keyframes typList9{
    0%{color: #c3c6ce;}
    90%{color: #14213D;}
    100%{color: #c3c6ce;}
}

@keyframes typList10{
    0%{color: #c3c6ce;}
    30%{color: #14213D;}
    100%{color: #c3c6ce;}
}

@keyframes typList11{
    0%{color: #c3c6ce;}
    60%{color: #14213D;}
    100%{color: #c3c6ce;}
}

@keyframes typList12{
    0%{color: #c3c6ce;}
    90%{color: #14213D;}
    100%{color: #c3c6ce;}
}

@media screen and (max-width: 800px){
    section div.introCard ul.typeList{
        display: none;
    }

    section div.downList div.downListContent input#myInput{
        box-sizing: border-box;
        background-position: 14px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 8px;
        border: none;
        border-bottom: 1px solid #ddd;
    }

    section div.downList{
        display: block;
    }
}

@media screen and (max-width: 600px){

    section div.introCard p.introTitle{
        font-size: 2.1em;
    }

    section div.introCard p.introAbout{
        margin-top: 10px;
        font-size: 1em;
    }

    section div.subTypes{
        width: 90%;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        margin-bottom: 15%;
    }

    section div.subTypes div.subTypesDetails p.subTypesTitle{
        font-size: 1.4em;
    }

    section div.subTypes div.subTypesDetails ul.midContentBody li a{
        font-size: 1.1em;
    }

    section div.subTypes div.subTypesDetails p.subTypesBody{
        font-size: 1.25em;
    }
}