*{
    text-decoration: none;
    font-family: "Tajawal", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: all 0.2s ease;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    text-align: center;
    background-color: white;
}

nav.navBar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
}

nav.navBar div.mindsyncContainer{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: auto;
}

nav.navBar a div.mindsyncContainer img{
    user-select: none;
    max-width: 100%;
    max-height: 100%;
    width: 300px;
}

nav.navBar a div.mindsyncContainer img:hover{
    transform: scale(105%);
}

nav.navBar a div.mindsyncContainer img:active{
    transform: scale(100%);
}

nav.navBar div.vertical-line{
    position: relative;
    width: 1px;
    height: 100px;
    margin: 0 20px;
    background-color: black;
}

nav.navBar div.vertical-line::before{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
  background-color: black;
}

nav.navBar div.oman2040VisionContainer{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: auto;
}

nav.navBar a div.oman2040VisionContainer img{
    user-select: none;
    max-width: 100%;
    max-height: 100%;
    width: 180px;
}

nav.navBar a div.oman2040VisionContainer img:hover{
    transform: scale(105%);
}

nav.navBar a div.oman2040VisionContainer img:active{
    transform: scale(100%);
}

div.navDivContainer{
    position: sticky;
    background-color: #f5f5f5;
    bottom: 20px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 52px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    margin-top: 50px;
    padding: 6px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

div.navDivContainer div.hyperLinks{
    display: flex;
    direction: ltr;
    user-select: none;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 6px;
}

div.navDivContainer div.hyperLinks a{
    font-size: 24px;
    margin: 0 auto;
    color: #14213D;
}

div.navDivContainer div.hyperLinks a:hover{
    transform: translateY(-3px);
    font-size: 26px;
    color: #FCA311;
}

footer{
    padding: 40px 0px;
    width: 100%;
    color: #868686;
    font-size: 1em;
    padding-bottom: 0;
}

footer div.quickLink ul{
    width: auto;
    padding: 0;
}

footer div.quickLink ul li{
    display: inline-block;
    margin: 0px 10px;
}

footer div.quickLink ul li a{
    color: #868686;
}

footer div.quickLink ul li a:hover{
    color: #FCA311;
}

footer div.quickLink ul li a:active{
    color: #14213D;
}

footer div.copyright p{
    user-select: none;
}

@media screen and (min-width: 801px){
    
    div.navDivContainer{
        width: 70%;
        height: 65px;
    }

    div.navDivContainer div.hyperLinks{
        padding: 10px;
    }
    
    div.navDivContainer div.hyperLinks a i{
        display: none;
    }

    div.navDivContainer div.hyperLinks a span{
        display: block;
    }
    
    div.navDivContainer div.hyperLinks a span:hover{
        font-size: 25px;
        color: #FCA311;
    }
    
    div.navDivContainer div.hyperLinks a img{
        width: 50px;
    }
    
    div.navDivContainer div.hyperLinks a img:hover{
        transform: translateY(none);
        width: 55px;
    }
}

@media screen and (max-width: 800px){

    div.navDivContainer div.hyperLinks a span{
        display: none;
    }

    nav.navBar a div.mindsyncContainer img{
        width: 250px;
    }

    div.navDivContainer div.hyperLinks a i{
        font-size: 26px;
        color: #14213D;
    }

    div.navDivContainer div.hyperLinks a i:hover{
        font-size: 27px;
        color: #14213D;
    }
    
    div.navDivContainer div.hyperLinks a i:active{
        font-size: 28px;
        color: #FCA311;
    }

    div.navDivContainer div.hyperLinks a img{
        width: 44px;
    }

    div.navDivContainer div.hyperLinks img:active{
        transform: translateY(none);
        width: 48px;
    }
}

@media screen and (max-width:720px){

    footer div.quickLink ul li{
        display: block;
        margin: 10px 0px;
    }
}

@media screen and (max-width: 600px){

    nav.navBar{
        padding-left: 5px;
        padding-right: 5px;
    }

    nav.navBar a div.mindsyncContainer img{
        width: 200px;
    }

    nav.navBar div.vertical-line{
        width: 1px;
        height: 80px;
        margin: 0 10px;

    }

    nav.navBar a div.oman2040VisionContainer img{
        max-width: 90%;
        max-height: 90%;
    }

    div.navDivContainer div.hyperLinks a i{
        font-size: 25px;
        color: #14213D;
    }

    div.navDivContainer div.hyperLinks a i:hover{
        font-size: 26px;
        color: #14213D;
    }
    
    div.navDivContainer div.hyperLinks a i:active{
        font-size: 27px;
        color: #FCA311;
    }

    div.navDivContainer div.hyperLinks a img{
        width: 40px;
    }

    div.navDivContainer div.hyperLinks img:active{
        transform: translateY(none);
        width: 44px;
    }

    footer div.quickLink ul{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    footer div.copyright p{
        font-size: 1em;
        position: relative;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}