section{
    text-align: center;
    margin: auto;
    justify-content: center;
    margin: 0px 20px;
}

section div.introCard{
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0 5px;
    position: relative;
}

section div.introCard p.introTitle{
    color: black;
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
}

section div.introCard p.introAbout{
    color: #868686;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 10px;
}

section p{
    color: #666;
    margin-bottom: 3%;
}

section p a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 600px){

    section div.introCard p.introTitle{
        font-size: 2.1em;
    }

    section div.introCard p.introAbout{
        margin-top: 10px;
        font-size: 1em;
    }

}