main{
    width: 100%;
}

section{
    width: 100%;
}

section div.headerIcon div.headerIconDetails{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: auto;
    direction: ltr;
}

section div.omanFlagContainer{
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 10px;
}

section a div.omanFlagContainer img{
    user-select: none;
    max-width: 100%;
    max-height: 100%;
    width: 45px;
    border-radius: 3px;
}

section a div.omanFlagContainer img:hover{
    transform: scale(105%);
}

section a div.omanFlagContainer img:active{
    transform: scale(95%);
}

/* section div.omanEducationalPortalContainer{
    display: inline-block;
    float: left;
    margin-left: 20px;
    width: auto;
    margin-bottom: 20px;
}

section a div.omanEducationalPortalContainer img{
    user-select: none;
    max-width: 100%;
    max-height: 100%;
    width: 120px;
}

section a div.omanEducationalPortalContainer img:hover{
    transform: scale(105%);
}

section a div.omanEducationalPortalContainer img:active{
    transform: scale(95%);
}

section div.omanOmanunaContainer{
    display: inline-block;
    float: left;
    margin-left: 20px;
    width: auto;
    margin-bottom: 20px;
}

section a div.omanOmanunaContainer img{
    user-select: none;
    max-width: 100%;
    max-height: 100%;
    width: 100px;
    
}

section a div.omanOmanunaContainer img:hover{
    transform: scale(105%);
}

section a div.omanOmanunaContainer img:active{
    transform: scale(95%);
}

section div.cityOfTechnicalExpertsContainer{
    display: inline-block;
    float: left;
    margin-left: 20px;
    width: auto;
    margin-bottom: 20px;
}

section a div.cityOfTechnicalExpertsContainer img{
    user-select: none;
    max-width: 100%;
    max-height: 100%;
    width: 200px;
}

section a div.cityOfTechnicalExpertsContainer img:hover{
    transform: scale(105%);
}

section a div.cityOfTechnicalExpertsContainer img:active{
    transform: scale(95%);
}

section div.omanMinistryOfEducationContainer{
    display: inline-block;
    float: left;
    margin-left: 20px;
    width: auto;
    margin-bottom: 20px;
}

section a div.omanMinistryOfEducationContainer img{
    user-select: none;
    max-width: 100%;
    max-height: 100%;
    width: 100px;
}

section a div.omanMinistryOfEducationContainer img:hover{
    transform: scale(105%);
}

section a div.omanMinistryOfEducationContainer img:active{
    transform: scale(95%);
} */


section div.welcomeSection{
    background-color: #f5f5f5;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    position: relative;
    overflow: visible;
}

section div.welcomeSection div.welcomeDetails{
    padding: 30px 30px 40px;
}

section div.welcomeSection div.welcomeDetails p.welcomeTitle{
    font-size: 26px;
    color: black;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
}

section div.welcomeSection div.welcomeDetails hr{
    height: 1.5px;
    background-color: #FCA311;
    border: none;
    margin: 0;
}

section div.welcomeSection div.welcomeDetails p.welcomeBody{
    font-size: 20px;
    color: #14213D;
    font-weight: 500;
    margin-bottom: 30px;
}

section div.welcomeSection div.welcomeDetails a.aboutSiteLink{
    font-size: 18px;
    color: #14213D;
    font-weight: 600;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 5px;
    border: 3px solid #14213D;
}

section div.welcomeSection div.welcomeDetails a.aboutSiteLink:hover{
    color: #FCA311;
    background-color: #14213D;
    border: none;
}

section div.welcomeSection div.welcomeDetails a.aboutSiteLink:active{
    color: #FCA311;
    background-color: #3c4355;
}

section div.welcomeSection div.welcomeDetails a.aboutSiteLink:hover span{
    margin-right: 5px;
    font-size: 23px;
}

section div.selfDevelopmentSection, section div.academicEducationSection, section div.servicesToolsSection{
    display: inline-block;
    width: 100%;
    height: auto;
    align-items: center;
    border-radius: 0px;
    background-color: #f5f5f5;
    position: relative;
    margin-bottom: 40px;
    overflow: visible;
}

section div.selfDevelopmentSection div.subSectionDetails, section div.academicEducationSection div.subSectionDetails, section div.servicesToolsSection div.subSectionDetails{
    gap: 0.5em;
    display: grid; 
    place-content: center;
}

section div.selfDevelopmentSection div.subSectionDetails p.subSectionTitle a, section div.academicEducationSection div.subSectionDetails p.subSectionTitle a, section div.servicesToolsSection div.subSectionDetails p.subSectionTitle a{
    font-size: 1.4em;
    font-weight: bold;
    color: black;
}

section div.selfDevelopmentSection:hover, section div.academicEducationSection:hover, section div.servicesToolsSection:hover{
    border-color: #FCA311;
}

section div.selfDevelopmentSection:hover div.subSectionDetails p.subSectionTitle a, section div.academicEducationSection:hover div.subSectionDetails p.subSectionTitle a, section div.servicesToolsSection:hover div.subSectionDetails p.subSectionTitle a{
    color: #14213D;
}

section div.selfDevelopmentSection div.subSectionDetails p.subSectionTitle a:hover, section div.academicEducationSection div.subSectionDetails p.subSectionTitle a:hover, section div.servicesToolsSection div.subSectionDetails p.subSectionTitle a:hover{
    color: #FCA311;
}

section div.selfDevelopmentSection div.subSectionDetails p.subSectionTitle:hover, section div.academicEducationSection div.subSectionDetails p.subSectionTitle:hover, section div.servicesToolsSection div.subSectionDetails p.subSectionTitle:hover{
    transform: scale(1.04);
}

@media screen and (max-width: 600px){

    section div.welcomeSection p.welcomeTitle{
        font-size: 1.2em;
    }

    section div.welcomeSection p.welcomeBody{
        font-size: 1.1em;
    }
    
    section div.selfDevelopmentSection:hover div.subSectionDetails p.subSectionTitle, section div.academicEducationSection:hover div.subSectionDetails p.subSectionTitle, section div.servicesToolsSection:hover div.subSectionDetails p.subSectionTitle{
        margin-bottom: 0;
    }
}