*{
    font-family: "Tajawal", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: all 0.2s ease;
}

html{
    scroll-behavior: smooth;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body{
    margin: 0;
    background-color: white;
}

.wrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

header nav img{
    width: 300px;
    user-select: none;
}

header nav hgroup{
    cursor: default;
}

header nav hgroup h1.title{
    text-align: right;
    margin: 0;
    cursor: default;
    font-size: 50px;
    font-weight: 500;
}

header nav hgroup p a, small{ 
    text-decoration: none;
    color: #FCA311;
}

header nav hgroup p a small:hover{
    color: #14213D;
}

header nav hgroup p{
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}

.content-wrapper{
    display: flex;
    flex: 1;
}

.dropdown{
    display: none;
}

.sidebar{
    margin: 0;
    padding: 0;
    width: 200px;
    border-radius: 18px 0 0 0;
    background-color: #f1f1f1;
    position: relative;
    height: auto;
    overflow: auto;
}

.sidebar a{
    display: block;
    color: black;
    padding: 16px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.sidebar a:hover{
    background-color: #14213D;
    color: white;
}

.sidebar a:last-child{
    position: absolute;
    top: 95%;
    left: 13%;
    transform: translate(-0%, -100%);
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    padding: 8px;
    text-decoration: none;
    border: 1px solid #FCA311;
    background: transparent;
    color: #FCA311;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.sidebar a:last-child:hover{
    color: #14213D;
    background: #FCA311;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.sidebar a:last-child:hover::before {
    -webkit-animation: sh02 2.5s 0s linear infinite;
    -moz-animation: sh02 2.5s 0s linear infinite;
    animation: sh02 2.5s 0s linear infinite;
  }
  
  .sidebar a:last-child::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }

  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  .sidebar a:last-child:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }

.sidebar a:last-child i{
    position: relative;
    top: 3px;
    left: 0px;
}

main{
    flex: 1;
    padding: 20px;
}

section{
    display: none;
    animation: fadeIn 0.5s ease-in-out;
}

section#home{
    display: block;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateX(10px);
    }
 
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

footer{
    cursor: default;
    text-align: center;
    color: #14213D;
    background-color: #f1f1f1;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

footer div.social-media ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
    padding: 0;
}

footer div.social-media ul li{
    padding: 0;
    
}

footer div.social-media ul li a{
    text-decoration: none;
}

footer div.social-media ul li a span{
    margin-right: 6px;
    font-weight: 500;
}

footer div.social-media ul li a div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 2px 13px;
    height: 35px;
    border-radius: 100px;
    font-size: 18px;
    background-color: transparent;
    color: #14213D;
    border: 1px solid #14213D;
}

footer div.social-media ul li a div:hover{
    background-color: #FCA311;
    border: 1px solid #FCA311;
}

footer div.founder a{
    text-decoration: none;
    color:#333;
    font-weight: 600;
}

footer div.copyright span{
    color:#333;
    font-weight: 600;
}

footer div.powered-by a{
    text-decoration: none;
    color:#333;
    font-weight: 600;
}

footer div.copyright span:hover{
    color: #FCA311;
}

footer div.founder a:hover, div.powered-by a:hover{
    color: #FCA311;
}

@media screen and (max-width: 1400px){
    footer{
        position: relative;
        display: block;
    }
    
    footer div.social-media{
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
    }

    footer div.copyright , div.powered-by, div.founder{
        text-align: right;
    }

    footer div.founder p, div.powered-by p{
        margin: 0;
    }
}

@media screen and (max-width: 800px){
    footer{
        font-size: 16px;
    }
}

@media screen and (max-width: 740px){
    
    footer{
        padding: 20px;
    }

    footer div.social-media ul{
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        margin: 0;
    }

    footer div.social-media ul li a div{
        font-size: 16px;
        height: 30px;
        padding: 1px 10px;
    }
}

@media screen and (max-width: 650px){
    header nav img{
        width: 250px;
    }
    
    header nav hgroup h1.title{
        font-size: 45px;
    }

    header nav hgroup p{
        margin: 0;
        font-size: 17px;
        font-weight: 400;
    }

    header nav hgroup p a small{
        font-size: 15px;
    }
    
}

@media screen and (max-width: 540px){
    header nav img{
        width: 100px;
    }
    
    header nav hgroup h1.title{
        font-size: 40px;
    }

    header nav hgroup p{
        margin: 0;
        font-size: 16px;
        font-weight: 400;
    }

    header nav hgroup p a small{
        font-size: 14px;
    }
    
}

@media screen and (max-width: 500px){
    footer{
        font-size: 14px;
    }

    footer div.social-media ul li a span{
        display: none;
    }

    footer div.social-media ul li a div{
        font-size: 16px;
        height: 28px;
        width: 28px;
        padding: 0;
        border-radius: 100px;
    }
}

@media screen and (max-width: 700px){
    .content-wrapper{
        flex-direction: column;
        display: flex;
    }
    .sidebar{
        width: auto;
        height: auto;
        border-radius: 0;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sidebar a{
        float: left;
        padding: 12px;
    }

    .sidebar a:last-child{
        position: relative;
        top: 0;
        left: 5px;
        transform: translate(0, 0);
        text-align: center;
    }
}

@media screen and (max-width: 634px){
    .sidebar{
        display: none;
    }

    .dropbtn{
        background-color: #f1f1f1;
        color: #14213D;
        font-size: 22px;
        font-weight: 600;
        width: 100%;
        border: none;
        cursor: pointer;
        text-align: center;
        padding: 15px 16px;
      }
      
    .dropbtn:hover, .dropbtn:focus {
      background-color: #FCA311;
    }
    
    #myInput{
      box-sizing: border-box;
      width: 100%;
      background-image: url('/platform-25/assets/images/searchicon.png');
      background-size: 26px;
      background-position: 14px 12px;
      background-repeat: no-repeat;
      font-size: 16px;
      padding: 14px 20px 12px 45px;
      border: none;
      border-bottom: 1px solid #ddd;
    }
    
    #myInput:focus {outline: 1px solid #ddd;}
    
    .dropdown {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      top: 62px;
      background-color: #f6f6f6;
      width: 90%;
      max-width: 300px;
      min-width: 230px;
      max-height: 300px;
      min-height: 230;
      overflow: auto;
      border-radius: 0 0 18px 18px;
      border: 1px solid #f1f1f1;
      border-top: none;
      z-index: 1;
    }

    .fadeInList{
        animation: fadeInList 0.1s ease;

    }

    .fadeOutList{
        animation: fadeOutList 0.1s ease;
    }

    @keyframes fadeInList{
        from{
            opacity: 0;
        }
     
        to{
            opacity: 1;
        }
    }

    @keyframes fadeOutList {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
    
    .dropdown-content a{
      color: black;
      padding: 12px 16px;
      font-size: 16px;
      font-weight: 500;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {
      background-color: #14213D;
      color: white;
    }
    
    .dropdown-content a:last-child{
        border-top: 1px solid #FCA311;
        color: #FCA311;
        text-align: center;
        font-size: 14px;
        padding: 8px;
    }

    .dropdown-content a:last-child:hover{
        background-color: #FCA311;
        color: #14213D;
    }

    .dropdown-content a:last-child i{
        position: relative;
        top: 3px;
        left: 0px;
    }

    .show {display: block;}
}

@media screen and (max-width: 400px){
    header nav{
        padding: 10px;
    }
}

@media screen and (max-width: 370px){
    footer{
        padding: 15px;
    }

    footer div.copyright , div.powered-by, div.founder{
        text-align: center;
    }

    footer div.social-media{
        position: relative;
        top: 22px;
        left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    footer div.social-media ul{
        display: inline-flex;
    }
}